/*btn*/
/* forms */
/* #Basic Styles
------------------------------------------------------------------------------- */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  height: 100%; }

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  color: #4f4f4f;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:focus::-moz-placeholder {
  color: transparent !important; }

*[autofocus]::-moz-placeholder:focus {
  color: #9f9f9f !important; }

*:focus:-moz-placeholder {
  color: transparent !important; }

*[autofocus]:-moz-placeholder:focus {
  color: #9f9f9f !important; }

*:focus::-webkit-input-placeholder {
  color: transparent !important; }

*[autofocus]::-webkit-input-placeholder {
  color: #9f9f9f !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

/* #Table
------------------------------------------------------------------------------- */
table {
  width: 100%; }

table tr td {
  text-align: left;
  vertical-align: top; }

/* #Links
------------------------------------------------------------------------------- */
a,
a:visited {
  outline: 0;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none;
  color: inherit; }

a:focus,
a:active {
  text-decoration: none;
  color: inherit; }

*:focus {
  outline: none; }

/* #Lists
 ----------------------------------------------------------------------*/
ol {
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

table th {
  text-align: left; }

/* #Forms
 ----------------------------------------------------------------------*/
input[type="radio"], input[type="checkbox"] {
  margin: 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  color: #000;
  background: transparent;
  resize: vertical;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  outline: none;
  letter-spacing: 1px; }

select,
textarea {
  background: #fff; }

button {
  border: none;
  font-family: "Fira Sans", sans-serif; }

button, input {
  border: none; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9f9f9f; }

textarea {
  width: 100%;
  padding: 8px 19px; }

/* For transition-animation
 ----------------------------------------------------------------------*/
a, button, input[type="button"], input[type="submit"] {
  transition: border-color .3s ease-in, color .3s ease-in, background-color .3s ease-in; }

/* #Clearing
 ----------------------------------------------------------------------*/
footer:after,
main:after,
header:after,
section:after,
.wrap:after,
.row:after,
.clearfix:after {
  clear: both; }

section,
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important; }

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #646464 !important;
  -webkit-box-shadow: none;
  background-color: #fff !important; }

/* Helper class
------------------------------------------------------------------------------- */
.m-right {
  float: right; }

.m-left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.p0 {
  padding: 0; }

.m0 {
  margin: 0; }

.p10 {
  padding-top: 10px; }

.col-50 {
  width: 50%; }

/* Layout blocks
------------------------------------------------------------------------------- */
body {
  position: relative;
  width: 100%;
  background: #fff;
  line-height: 1.5; }

a, button {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.inline-b {
  display: inline-block;
  width: 100%; }

/* Main content
------------------------------------------------------------------------------- */
/*--- header ------------------------------------------------------------------ */
.logo {
  display: inline-block; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer; }

.filter__list-container, .filter__list-container--filterred {
  height: 300px;
  overflow-y: scroll; }

.filter {
  width: 620px;
  height: 490px;
  border-radius: 6px; }

.filter__header {
  border-radius: 6px 6px  0 0;
  background: #ff8663;
  height: 45px;
  color: #fff;
  position: relative;
  padding: 0 10px; }

.filter__maintitle {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  width: 100%; }

.filter__close {
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px; }

.filter__row {
  display: inline-block;
  width: 100%;
  position: relative;
  cursor: pointer; }
  .filter__row:hover {
    background: #f0f0f0; }

.filter__addfriend {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
  color: #c4c4c4; }

.filter__avatar {
  border-radius: 50%;
  max-width: 50px;
  overflow: hidden;
  display: inline-block; }

.filter__name {
  display: inline-block;
  padding-top: 17px;
  padding-left: 10px;
  vertical-align: top; }

.filter__search {
  background: #f0f0f0;
  padding: 10px; }

.filter__footer {
  width: 100%;
  display: inline-block; }

.hidden {
  display: none; }

.over {
  border: 2px dashed #000; }
