
@font-face {
  font-family: 'coquette_regularregular';
  src: url('../fonts/coquette_regular_1-webfont.woff2') format('woff2'),
  url('../fonts/coquette_regular_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
