//mixin
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $size $color;
    -moz-box-shadow:inset $top $left $blur $size $color;
    box-shadow:inset $top $left $blur $size $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
  }
}
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
// Variables
// --------------------------------------------------
$main-bg: #fff;
$default-color: #4f4f4f;
$white: #fff;
$grey: #c4c4c4;
$light-grey: #f0f0f0;
$red: #ff8663;

/*btn*/


/* forms */
$placeholder-txt: #9f9f9f;
$defaul-txt-form:  #4f4f4f;
$bg-inputs-form: #fff;

//trasition
$gTransition: all .3s ease;
$gTransitionLinear: all .2s linear;

//fonts
$fontDefault: 'Fira Sans', sans-serif;





